.contact_info_item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact_info_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.contact_info_item img {
  width: 40px;
}

.contact_info_title {
  font-weight: bold;
}

textarea {
  resize: none;
  width: 100%;
}

.button {
  background-color: #7caad5;
}
