.contact_info_item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact_info_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.home-page {
  background: linear-gradient(
    to right,
    #e2e7f4 0%,
    #e2e7f4 50%,
    white 50%,
    white 100%
  );
}

.home-div {
  width: 100%;
  height: calc(100vh - 42px - 1em);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-div p {
  color: #5170d2;
  font-weight: bold;
}

.home-div h1 {
  font-weight: bold;
}

.contact_info_item img {
  width: 40px;
}

.contact_info_title {
  font-weight: bold;
}

textarea {
  resize: none;
  width: 100%;
}

.button {
  background-color: #7caad5;
}

.profilepic img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-work a {
  cursor: pointer;
}

.about-info .row label {
  color: black;
  font-weight: bold;
}

.about-info .row p {
  color: #5170d2;
  font-weight: bold;
}

.notfound {
  display: flex;
  height: calc(100vh - 42px - 1em);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notfound h1 {
  font-weight: bold;
}

.notfound h2 {
  font-weight: bold;
}
